---
import { Image } from "astro:assets";
import heroImage from "../../public/hero.png";
import heroImageDesktop from "../../public/hero.png";
import { Icon } from "astro-icon/components";
---

<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      WORKOUT <br /> WITH ME
    </h1>
    <p class="hero__description">
      A huge selection of health and fitness content, healthy recipes and
      transformation stories to help you get fit and stay fit!
    </p>
    <button class="hero__cta-button">Join Club Now!</button>
  </div>
  <div class="hero__image-container">
    <div
      class="hero__group-container hero__group-container--orange animate__animated animate__fadeInRight"
    >
      <Icon name="mdi:run" class="hero__group-img" size={30} color={"white"} />
      <div class="hero__group-text">4,95 <span>km</span></div>
    </div>
    <div
      class="hero__group-container hero__group-container--dark animate__animated animate__fadeInLeft animate__slow"
    >
      <Icon name="mdi:play" class="hero__group-img" size={28} color={"white"} />
      <div class="hero__group-content">
        <p class="hero__group-text hero__group-text--2">350+</p>
        <p class="hero__group-subtitle">Videos</p>
        <p class="hero__group-subtitle--desktop">Video tutorial</p>
      </div>
    </div>
    <div
      class="hero__group-container hero__group-container--violet animate__animated animate__fadeInRight animate__slower"
    >
      <p class="hero__group-text hero__group-text--3">500+</p>
      <p class="hero__group-subtitle hero__group-subtitle--2">
        Free Workout Videos
      </p>
    </div>
    <Image
      src={heroImage}
      alt="Hero showing fitness activities"
      loading="eager"
      class="hero__image"
      width={200}
    />
    <Image
      src={heroImageDesktop}
      alt="Hero showing fitness activities"
      loading="eager"
      class="hero__image-desktop"
    />
  </div>
  <button class="hero__cta-btn">Join Club Now!</button>
  <div class="hero__featured--mobil">
    <h4 class="hero__featured-title">AS FEATURED IN</h4>
    <ul class="hero__featured-list">
      <li class="hero__featured-item">
        <img src="/logo5.png" alt="Nike logo" class="hero__featured-logo" />
      </li>
      <li class="hero__featured-item">
        <img
          src="/logo3.png"
          alt="Featured brand logo"
          class="hero__featured-logo"
        />
      </li>
      <li class="hero__featured-item">
        <img
          src="/logo6.png"
          alt="Featured brand logo"
          class="hero__featured-logo"
        />
      </li>
      <li class="hero__featured-item">
        <img
          src="/logo4.png"
          alt="Featured brand logo"
          class="hero__featured-logo"
        />
      </li>
      <li class="hero__featured-item">
        <img
          src="/logo2.png"
          alt="Featured brand logo"
          class="hero__featured-logo"
        />
      </li>
      <li class="hero__featured-item">
        <img
          src="/logo1.png"
          alt="Featured brand logo"
          class="hero__featured-logo"
        />
      </li>
    </ul>
  </div>
</section>

<style>
  @media (min-width: 1440px) {
    .hero {
      width: 1256px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      position: relative;
      margin: auto;
      gap: 30px;
    }

    .hero__title {
      font-size: var(--font-size-title);
      line-height: var(--line-height-title);
      color: var(--color-white);
      margin: 30px 0 60px 0;
    }

    .hero__description {
      font-size: var(--font-size-description);
      line-height: var(--line-height-description);
      color: var(--color-light-gray);
      width: 560px;
    }

    .hero__image {
      display: none;
    }

    .hero__image-desktop {
      position: absolute;
      top: 100px;
      right: 60px;
      width: 409px;
      height: 684px;
      object-fit: cover;
    }

    .hero__cta-button {
      font-size: var(--font-size-cta);
      line-height: var(--line-height-cta);
      font-weight: 600;
      background-color: var(--color-cta-bg);
      color: var(--color-white);
      border: none;
      border-radius: var(--border-radius-cta);
      height: 70px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      transition: var(--transition-ease);
      cursor: pointer;
    }

    .hero__cta-button:hover {
      background-color: var(--color-cta-hover);
      transform: scaleX(1.1);
    }

    .hero__group-container {
      position: absolute;
      border-radius: var(--border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .hero__group-container--orange {
      width: 180px;
      height: 110px;
      background-color: var(--color-orange);
      top: 10%;
      right: 0;
      flex-direction: column;

      & .hero__group-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-left: 1rem;
        color: var(--color-white);
        border-radius: 50%;
        background-color: #efa082;
        margin-right: auto;
      }

      & .hero__group-text {
        font-size: 48px;
        line-height: 50px;
        font-weight: bold;
        color: var(--color-white);
        margin: 0;

        & span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: var(--color-light-gray);
        }
      }
    }

    .hero__group-container--dark {
      background-color: var(--color-dark-gray);
      width: 206px;
      height: 96px;
      top: 68%;
      right: 31%;
      gap: 1rem;

      & .hero__group-img {
        width: 40px;
        height: 40px;
        margin: 0;
        color: var(--color-white);
        border-radius: 50%;
        background-color: var(--color-cta-hover);
      }

      & .hero__group-content {
        width: 108px;
        height: 56px;
      }

      & .hero__group-text {
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        color: var(--color-white);
        margin: 0;
      }

      & .hero__group-subtitle--desktop {
        color: var(--color-light-gray);
      }

      & .hero__group-subtitle {
        display: none;
      }
    }

    .hero__group-container--violet {
      background-color: var(--color-violet);
      width: 193px;
      height: 98px;
      top: 77%;
      right: -80px;
      flex-direction: column;
      text-align: start;

      & .hero__group-text--3 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 600;
        color: var(--color-white);
        margin: 0;
        margin-right: 1.5rem;
      }

      & .hero__group-subtitle--2 {
        font-size: 13px;
        line-height: 20px;
        color: var(--color-light-gray);
        margin: 0;
      }
    }

    .hero__cta-btn {
      display: none;
    }
  }

  .hero__featured--mobil {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }

  .hero__featured-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #efede8;
    margin: 0;
  }

  .hero__featured-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
  }

  @media (max-width: 575px) {
    .hero {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
      z-index: 1;
      max-width: 100%;
    }

    .hero__title {
      font-size: 50px;
      line-height: 60px;
      color: var(--color-white);
      margin: 0;
      text-align: center;
    }

    .hero__description {
      font-size: 14px;
      color: var(--color-light-gray);
      text-align: center;
      width: fit-content;
    }

    .hero__cta-button {
      display: none;
    }

    .hero__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
    }

    .hero__image-desktop {
      display: none;
    }

    .hero__image {
      display: block;
    }

    .hero__group-container {
      width: 90px;
      height: 55px;
      position: absolute;
      border-radius: var(--border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hero__group-container--orange {
      background-color: var(--color-orange);
      top: 2%;
      right: 12%;
    }

    .hero__group-container--dark {
      background-color: var(--color-dark-gray);
      top: 40%;
      left: 5%;
    }

    .hero__group-container--violet {
      background-color: var(--color-violet);
      top: 80%;
      right: 10%;
      flex-direction: column;
      text-align: center;
    }

    .hero__group-content,
    .hero__group-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }

    .hero__group-text {
      font-size: large;
      color: var(--color-white);
      font-weight: bold;
      width: auto;
      height: auto;
    }

    .hero__group-text span {
      font-size: small;
      font-weight: normal;
      margin: 0;
    }

    .hero__group-text--2 {
      font-size: medium;
    }

    .hero__group-subtitle {
      font-size: small;
      color: var(--color-light-gray);
      margin: 0;
    }

    .hero__group-subtitle--desktop {
      display: none;
    }

    .hero__cta-btn {
      font-size: var(--font-size-cta);
      line-height: var(--line-height-cta);
      font-weight: 600;
      background-color: var(--color-cta-bg);
      color: var(--color-white);
      border: none;
      border-radius: var(--border-radius-cta);
      height: 40px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem auto;
      transition: var(--transition-ease);
    }

    .hero__cta-btn:hover {
      background-color: var(--color-cta-hover);
      transform: scaleX(1.1);
    }

    .hero__featured--mobil {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
      overflow-x: hidden;
    }

    .hero__featured-title {
      font-size: 14px;
      line-height: 20px;
      color: var(--color-light-gray);
      margin: 0;
    }

    .hero__featured-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      gap: 15px;
      animation: marquee 40s linear infinite;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .hero__featured-item {
      margin: 0;
      padding: 0;
    }

    .hero__featured-logo {
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
</style>
