---
import { Icon } from "astro-icon/components";

interface NavLink {
  href: string;
  text: string;
}

const navLinks: NavLink[] = [
  { href: "#workouts", text: "Workouts" },
  { href: "#programs", text: "Programs" },
  { href: "#healthy-living", text: "Healthy Living" },
  { href: "#community", text: "Community" },
  { href: "#about", text: "About" },
  { href: "#store", text: "Store" },
];
---

<nav class="main-nav">
  <p class="main-nav__logo">WORKOUT</p>
  <Icon
    name="mdi:hamburger-menu"
    class="main-nav__menu-icon"
    size={30}
    color={"white"}
  />
  <Icon
    name="mdi:close"
    class="main-nav__menu-close"
    size={30}
    color={"white"}
  />
  <ul class="main-nav__list">
    {
      navLinks.map((link) => (
        <li class="main-nav__item">
          <a href={link.href} class="main-nav__link">
            {link.text.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuIcon = document.querySelector(
      ".main-nav__menu-icon"
    ) as HTMLElement;
    const menuClose = document.querySelector(
      ".main-nav__menu-close"
    ) as HTMLElement;
    const menuList = document.querySelector(".main-nav__list") as HTMLElement;

    const toggleMenu = (show: any) => {
      menuList.style.display = show ? "flex" : "none";
      menuIcon.style.display = show ? "none" : "block";
      menuClose.style.display = show ? "block" : "none";
    };

    const handleResize = () => {
      if (window.innerWidth > 575) {
        menuList.style.display = "flex";
        menuIcon.style.display = "none";
        menuClose.style.display = "none";
      } else {
        toggleMenu(false);
      }
    };

    menuIcon.addEventListener("click", () => toggleMenu(true));
    menuClose.addEventListener("click", () => toggleMenu(false));

    window.addEventListener("resize", handleResize);

    // Llamada inicial para establecer el estado correcto
    handleResize();
  });
</script>

<style>
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #171717;
    height: 19px;
    max-width: 100%;
  }

  .main-nav__logo {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: white;
  }

  .main-nav__menu-icon,
  .main-nav__menu-close {
    display: none;
  }

  .main-nav__list {
    display: flex;
    list-style: none;
  }

  .main-nav__item {
    padding: 0.5rem 1rem;
  }

  .main-nav__link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  @media (max-width: 575px) {
    .main-nav {
      max-width: 100%;
      height: auto;
      padding: 1rem 1rem;
    }

    .main-nav__logo {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .main-nav__menu-icon {
      display: block;
    }

    .main-nav__menu-close {
      display: none;
    }

    .main-nav__list {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 100;
      gap: 1rem;
      position: absolute;
      top: 2.5rem;
      right: 0;
      background-color: #1c1c1c;

      width: 100%;
    }

    .main-nav__item {
      padding: 1rem 0;

      width: 100%;
      text-align: center;
    }
    .main-nav__item:hover {
      background-color: #292828;
    }

    .main-nav__link {
      color: white;
    }
  }
</style>
